body {
    font-size: 16px;
    font-family: "Quattrocento Sans", sans-serif;
    line-height: 1.5em;
}

/* navbar */
.navbar-default {
    font-family: Montserrat, serif;
    background: #fff;
    border-bottom-color: #dfdfdf;
    height: 60px;
    margin-bottom: 0;
}

.navbar-header .navbar-toggle {
    margin-top: 12px;
}
